<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
throwConfigExceptions="true">
	<targets>
		<target name="logfile" xsi:type="File" fileName="file.log"
		maxArchiveFiles="3" archiveNumbering="Rolling"
		layout="`${longdate}|${level:uppercase=true}|${logger}|${message:withexception=true}" />
		<target name="logconsole" xsi:type="ColoredConsole" layout="${message:withexception=true}" />
	</targets>
	<rules>
		<logger name="*" minlevel="Info" writeTo="logconsole" />
		<logger name="*" minlevel="Debug" writeTo="logfile" />
	</rules>
</nlog>